<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for reservations in reservations %}
    ##############################################
    <p>
        {{ reservations.time_slot.get_day_of_week_display }} |
     start   {{ reservations.time_slot.start_time }} |
     end   {{ reservations.time_slot.end_time }}
    </p>
    <p>
        {{ reservations.gym.name }} |
        {{ reservations.gym.address }} |
        {{ reservations.gym.price }}

    </p>
    <p>
        {{ reservations.user.phone }}
    </p>
    <p>
        <input type="checkbox" name="contract" value="True">
    </p>
    <p>
        {% if reservations.is_pey ==  False %}
            پرداخت نشده
        {% endif %}

    </p>

{% endfor %}
</body>
</html>