<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p>
    {{ gym.name }}
</p>
<p>
    {{ gym.slug }}
</p>
<p>
    {{ gym.address }}
</p>
<p>
    {{ gym.description }}
</p>
<p>
    {{ gym.price }}
</p>
<p>
    {{ gym.created_jalali }}
</p>
<p>
    {{ gym.contract }}
</p>
{% for images in images %}
<p>
    <img src="{{ images.image.url }}" alt="" width="250px" height="300px">
</p>
{% endfor %}
{% for timeslot in timeslots %}
    ############################################

    <p>
        {{ timeslot.gym.name }}
    </p>
    <p>
    {{ timeslot.get_day_of_week_display }}
    </p>
    <p>
    start
    {{ timeslot.start_time }}
    </p>
    <p>
    end
    {{ timeslot.end_time }}
    </p>
    <p>

    {% if timeslot.is_available == True %}
        رزرو نشده
    {% endif %}
    </p>
    <p>

    {{ timeslot.date }}
    </p>
    <p>

    </p>
<p>
    <a href="{% url 'fit:reserve_time' timeslot.id gym.id %}">همین الان رزرو کن</a>
</p>
{% endfor %}
</body>
</html>